.section {
    padding: 0.8rem;
    margin: 0.4rem;
    background-color: #f2f7ff;
    border-radius: 1.2rem;
}

.loading {
    justify-content: center;
    padding: 4rem 0;
}

.label-datetime-picker {
    display: inline-block;
    margin-right: 0.4rem;
}
