.options {
    display: flex;
    margin-top: 0.4rem;
    margin-bottom: 1.6rem;
}

.section-title {
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 600;
}

.option {
    user-select: none;

    & ~ & {
        margin-left: 0.8rem;
    }

    &__label {
        display: block;
        min-width: 4rem;
        padding: 0.2rem 0.5rem;

        color: var(--text-color);
        font-size: 1.3rem;
        font-weight: 400;
        text-align: center;

        border: 0.1rem solid #ccc;
        cursor: pointer;
    }

    &--checked {
        border: 0.1rem solid #e6484a;
    }
}
