.wrapper {
    padding: 1.8rem;
}

.container {
    width: 88rem;
    padding: 0.8rem;
    margin: 1rem auto;
}

// Responsive

/* Mobile, Tablet */
@media screen and (max-width: 1023px) {
}

/* Tablet */
@media screen and (min-width: 740px) and (max-width: 1023px) {
    .container {
        width: 100%;
    }
}

/* Mobile */
@media screen and (max-width: 739px) {
    .container {
        width: 100%;
    }
}
