.wrapper {
    width: 100vw;
    height: 100vh;
}

.side-left {
    background-image: url('../../../assets/images/statics/bg-login-admin.jpg');
}

.title {
    margin-top: 10rem;
    margin-bottom: -4rem;
    padding-bottom: 0;
}
