.table {
    margin-top: 4rem;
    border-radius: 0.8rem;
    overflow: hidden;
}

.btn {
    display: inline;
    padding: 0.8rem;
    font-size: 1.2rem;
    text-transform: none;

    & ~ & {
        margin-left: 0.8rem;
    }

    &--edit {
        --edit-color: #22c55e;

        background-color: var(--edit-color);
        border-color: var(--edit-color);

        &:hover {
            box-shadow: 1px 0px 6px 2px rgb(34 197 94 / 25%);
        }
    }

    &--delete {
        --delete-color: #ef4444;

        background-color: var(--delete-color);
        border-color: var(--delete-color);

        &:hover {
            box-shadow: 1px 0px 6px 2px rgb(239 68 68 / 25%);
        }
    }
}

.td {
    &-name,
    &-id {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &-id {
        max-width: 14rem;
    }

    &-name {
        max-width: 11rem;
    }

    &-total {
        text-align: right;
    }
}

.pendingpay,
.pending {
    padding: 0.2rem;
    color: var(--white);
    background-color: #ffd21e;
    border-radius: 0.4rem;
}

.cancel {
    padding: 0.2rem;
    color: var(--white);
    background-color: var(--third-primary);
    border-radius: 0.4rem;
}

.complete {
    padding: 0.2rem;
    color: var(--white);
    background-color: var(--second-primary);
    border-radius: 0.4rem;
}

.delivery {
    height: 2rem;
    padding: 0.2rem;
    color: var(--white);
    background-color: #22c55e;
    border-radius: 0.4rem;
}
